.App {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    padding: 15px;
  }
#root{
    background-image: url(https://i.pinimg.com/originals/bb/61/8d/bb618db….jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centerButton{
  text-align: center;
  padding-top: 1em;
}

.rightButton{
  text-align: right;
  padding-top: 1em;
}

.spreadButtons{
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.App{
  background: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

#carbonOffset{
text-align: center;
font-size: 2.5rem;
color: #4CAF50;
}

#steps{
  margin-bottom: 2em;
}